<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5" metadata-complete="true">


    <context-param>
        <param-name>localeStr</param-name>
        <param-value>be_BY</param-value>
    </context-param>

    <context-param>
        <param-name>map</param-name>
        <param-value>/site</param-value>
    </context-param>

    <listener>
        <listener-class>by.bsuir.forlabs.listeners.SessionListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>by.bsuir.forlabs.ControlServlet</servlet-class>

        <init-param>
            <param-name>logConfigFile</param-name>
            <param-value>/xml/log4j.xml</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/site/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>100</session-timeout>
    </session-config>

    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/login.jsp</welcome-file>
    </welcome-file-list>


    <jsp-config>
        <taglib>
            <taglib-uri>/functions</taglib-uri>
            <taglib-location>/WEB-INF/tld/functions.tld</taglib-location>
        </taglib>

        <taglib>
            <taglib-uri>/customtags</taglib-uri>
            <taglib-location>/WEB-INF/tld/custom.tld</taglib-location>
        </taglib>

    </jsp-config>


    <!-- error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/site/error404</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/site/error403</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/site/exception</location>
    </error-page>

    <!-- error pages end-->


    <!-- filters -->

    <filter>
        <filter-name>encodingfilter</filter-name>
        <filter-class>by.bsuir.forlabs.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>encodingfilter</filter-name>
        <url-pattern>/site/*</url-pattern>
    </filter-mapping>

    <!-- encoding filter end-->

    <filter>
        <filter-name>authoriseduserfilter</filter-name>
        <filter-class>by.bsuir.forlabs.filters.AuthorisedUserFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>authoriseduserfilter</filter-name>
        <url-pattern>/site/*</url-pattern>
    </filter-mapping>

    <!-- authoriseduserfilter filter end-->

    <filter>
        <filter-name>loginpagefilter</filter-name>
        <filter-class>by.bsuir.forlabs.filters.LoginPageFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>loginpagefilter</filter-name>
        <url-pattern>/site/login</url-pattern>
    </filter-mapping>

    <!-- loginpagefilter filter end-->


    <filter>
        <filter-name>adminpermissionfilter</filter-name>
        <filter-class>by.bsuir.forlabs.filters.AdminPermissionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>adminpermissionfilter</filter-name>
        <url-pattern>/site/admin/*</url-pattern>
    </filter-mapping>

    <!-- adminpermissionfilter filter end-->

    <filter>
        <filter-name>clientpermissionfilter</filter-name>
        <filter-class>by.bsuir.forlabs.filters.ClientPermissionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>clientpermissionfilter</filter-name>
        <url-pattern>/site/client/*</url-pattern>
    </filter-mapping>

    <!-- clientpermissionfilter filter end-->

    <!-- filters end -->




</web-app>
