@font-face {
    font-family: 'Book Antiqua'; /* Имя шрифта */
    src: url(fonts/BKANT.TTF); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: 'Baskerville Win95BT'; /* Имя шрифта */
    src: url(fonts/BASKERB.TTF); /* Путь к файлу со шрифтом */
}

.server-text {
    font-family: 'Baskerville Win95BT', Arial;
    color: red;
    font-size: 14px;
}